* {
  font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */
.navbar-default{
  background: transparent;
  border: none;
  background-color: transparent;
 }

.dropdown-menu{
  background: #4B7BDA;
}

.dropdown-menu li a{
 color: white;
}

/* HEADER */
.first-section{
	background-image: url(../img/header-bg.jpg);
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	background-position: center;
}

#init{
	padding: 5% 3%;
}

.imagen-inicio{
	margin-top: 5%;
}

.btn-default{
	width: 167px;
	color: white;
	border: none;
	background-color: #fed136;
	margin-left: 24px;
}

h2{
	padding: 15px;
}

.h2, h2 {
    font-size: 50px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 47px;
    margin-bottom: 23px;
}

p {
    margin: 0 0 30px;
    font-size: 18px;
    text-align: justify;
    padding: 25px;
}
.third-section{
background-color: #eeeeee;

}

/* PRODUCTOS */
.detalle {
 width: 350px;
 height: 300px;
 }

#productos .img-responsive{
	height: 40vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.text{
	text-align: center;
}

/*FORMULARIO DE CONTACTO*/
.form-control{

  width: 50%;
  border: 3px solid rgb(75, 123, 218);
}

p{
  font-weight: bold;
}

.four-section{
background-color: white;
	
}

.fourth-section{
	background-image: url(../img/header-bg.jpg);
	color: white;
	margin-top: 20px;

}

#menu {
    margin: 15px;
    height: 54px;
    width: 25%;
    margin-left: 1px;
}



#question{
  margin-top: 20px;
}

.five-section{
background-color: #eeeeee;

}

.marcas{
background-color: white;
margin-top: 10px;
	
}


/* FOOTER */
footer{
	background: -webkit-linear-gradient(white);
}

li{
	color:  #eeeeee;
	text-decoration: none;
	list-style: none;
}

#mouse{
	text-decoration: none;
	cursor: pointer;
}

.c{
  text-align: center;
	color: #052C78;
}
